<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>640963746656-fdj9hn072p3577163srt0no8t6sfsuo3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.640963746656-fdj9hn072p3577163srt0no8t6sfsuo3</string>
	<key>API_KEY</key>
	<string>AIzaSyALtoNZ3ubas8sRExOk3Q4t9UpjETH0_Jo</string>
	<key>GCM_SENDER_ID</key>
	<string>640963746656</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.msolapps.oscar</string>
	<key>PROJECT_ID</key>
	<string>oscar-a5ff2</string>
	<key>STORAGE_BUCKET</key>
	<string>oscar-a5ff2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:640963746656:ios:0696625bec453c26bd5c05</string>
	<key>DATABASE_URL</key>
	<string>https://oscar-a5ff2-default-rtdb.firebaseio.com</string>
</dict>
</plist>